<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <style>
       .appTitle {
           font-family: Arial Black,Arial Bold,Gadget,sans-serif; 
           font-size: 20px; 
           font-style: normal; 
           font-variant: normal; 
           font-weight: 500; 
           line-height: 26.4px;
       }
        
       .input-textfield-custom {
           height: 35px;
           border: 1px solid #aaaaaa;
           background: inherit;
       }
       
       .div-custom {
           padding: 2px;
           width: 80%;
           margin-left: 10%;
       }
        
        .icon-btn-custom {
            font-size: 18px;
        }
        
        .signout-btn-custom {
            font-size: 24px;  
        }
                        
       .button.button-block, .button.button-full {
            margin-bottom: 2px;
            margin-top: 2px;
        }
        
        .button {
            background-color: #f8f8f8;
            border-color: #b2b2b2;
            border-radius: 4px;
            border-style: solid;
            border-width: 1px;
            color: #444;
            cursor: pointer;
            display: inline-block;
            font-size: 16px;
            line-height: 32px;
            margin: 0;
            min-height: 32px;
            min-width: 52px;
            padding: 0 12px;
            position: relative;
            text-align: center;
            text-overflow: ellipsis;
            vertical-align: top;
        }
    </style>
  </head>
  <body ng-app="starter">

    <ion-nav-bar animation="nav-title-slide-ios7" 
                 type="bar-positive" 
                 back-button-type="button-icon" 
                 back-button-icon="ion-arrow-left-c"></ion-nav-bar>
    <ion-nav-view animation="slide-left-right"></ion-nav-view>
      
      <script id="signin.html" type="text/ng-template">
      <ion-view title="<span class='appTitle'>MobiBank</span>" left-buttons="leftButtons" right-buttons="rightButtons">
	  
	    <ion-nav-bar class="bar-positive nav-title-slide-ios7">
		  <ion-nav-buttons></ion-nav-buttons>
	      <ion-nav-back-button></ion-nav-back-button>
        </ion-nav-bar>
        
            
        <ion-content has-header="true">
            <div style="width: 300px; height: 10px;" class="spacer"></div>
            <div style="line-height: 20px; background-color: rgb(255, 255, 255); text-align: center; vertical-align: center;">
                <img style="vertical-align: center;" src="img/apps_logo.png"/>
            </div>
            
          <div class="list">            
            <div class="item item-input-inset" style="border: none;">            
                <label class="item-input-wrapper input-textfield-custom">
                    <i class="icon ion-person placeholder-icon positive icon-person-custom"></i>
                    <input type="text" placeholder="User ID" ng-model="user.uname" >
                </label>
            </div>
            <div class="item item-input-inset" style="border: none;">
                <label class="item-input-wrapper input-textfield-custom">
                    <i class="icon ion-locked placeholder-icon positive"></i>
                    <input type="password" placeholder="Password" ng-model="user.pass">
                </label>            
            </div>
            <div class="item item-input-inset" style="border: none;">
                <label class="item-input-wrapper input-textfield-custom">
                    <i class="icon ion-locked placeholder-icon positive"></i>
                    <input placeholder="Date" class="textbox-n" type="text" onfocus="(this.type='date')"  id="date">
                </label>            
            </div>
            <div class="row">                
                <div class="div-custom" style="border: none;">                    
                    <button class="button button-block button-positive" ng-click="login(user)">
                        <i class="icon-left ion-log-in icon-btn-custom"></i>&nbsp;Sign in
                    </button>                    
                </div>                
            </div>
            
          </div>
          		  		  
        </ion-content>
		<div class="bar bar-footer">
		  <div class="title"><h6>(c) ERA InfoTech Limited. All right reserved</h6></div>
		</div>
      </ion-view>
    </script>
    <script id="forgotpassword.html" type="text/ng-template">
      <ion-view title="Forgot Password">
        <ion-content has-header="true" padding="true">
          <p>
            Enter Your Email Address
          </p>
          <p>
            <label class="item item-input">
				<input type="email" placeholder="example@email.com" id="email" required>
			</label>
          	<button class="button button-block button-positive" id="reset">
              SUBMIT
            </button>
          </p>
          <p>
            Retorne para o 	<a href="#/signin">Login</a>.
          </p>
        </ion-content>
      </ion-view>
    </script>
	
			
			
			<!--Welcome Home ***********************************************************************************************************************-->		
			
      <script id="welcome.html" type="text/ng-template">

      <ion-view title="DashBoard">
	     <ion-nav-bar class="bar-positive nav-title-slide-ios7">
            <ion-nav-buttons side="right" >
                <a title="Sign out" class="button button-outline icon-right ion-log-out signout-btn-custom" ng-click="btnLogOut()">                    
                </a>
           </ion-nav-back-button>
         </ion-nav-bar>
	  
        <ion-content has-header="true" padding="true">
                <p>{{errorMessage}}</p>  
        <div class="list">
        <button class="button button-block button-positive">
          A/c Balance
        </button>
        <button class="button button-block button-positive">
          A/c Statement
        </button>
		  
		  <div class="row">
				  <div class="col col-50"  style="height:40px !importent"><a href="#/accBalance" class="button button-block button-positive">A/c Balance</a>.</div>
				  <div class="col" > <a href="#/accStatement" class="button button-block button-positive">A/c Statement</a></div>
			</div>
            <div class="row">
				  <div class="col col-50"  style="height:40px !importent"><a href="#/fundTranster" class="button button-block button-positive">Fund Transfer</a>.</div>
				  <div class="col"  >  <a href="#/fundTransterRequest" class="button button-block button-positive">Standing Ins.</a>.</div>
			</div>
			
			 <div class="row">
				  <div class="col col-50"  style="height:40px !importent"> <a href="#/talkTimeRecharge" class="button button-block button-positive">Top Up</a>.</div>
				  <div class="col" >   <a href="#/stopChequeLeaf" class="button button-block button-positive">Stop Cheque</a>.</div>
			</div>			
		  </div>
        </ion-content>
      </ion-view>
    </script>
	
			
			<!--Account Balance-->
			
      <script id="accBalance.html" type="text/ng-template">
      <ion-view title="Account Balance">
	    <ion-nav-bar class="bar-positive nav-title-slide-ios7">
      <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
        Back
      </ion-nav-back-button>
    </ion-nav-bar>
	
	
  
        <ion-content has-header="true" padding="true">
		
          Account Title:{{accountTitle}}
           <div ng-app="" ng-init="{{accountBalanceNodes}}" >
           <style>                
                .color1 {
                    background-color: #DDEEFF;
                }

                .color2 {
                    background-color: #99CCFF;
                }
            </style>
			
			  <style>
				table, th , td  {
				  border: 1px solid grey;
				  border-collapse: collapse;
				  padding: 5px;
				}
				table tr:nth-child(odd)	{
				  background-color: #f1f1f1;
				}
				table tr:nth-child(even) {
				  background-color: #ffffff;
				}
				.fixed_headers {
			  width: @table_width;
			  table-layout: fixed;
			  border-collapse: collapse;
			  }
				
				
				</style>
          
			
				<ion-scroll zooming="true" direction="xy" style="width: 500px ; height:500px; margin-top:20px">	
				<div style="width: 5000px; height: 5000px;">				
                 <table class="fixed_headers">
				  <thead>
					<tr>
					<th>SL</th>						
					  <th>A/c Number</th>					 
					  <th>Account Balance</th>	 
					  <th>Account Type</th>		 
					 
					</tr>
					</thead>
					
					  <tr ng-repeat="x in accountBalanceNodes" >
						<td>{{x.slno }}</td>
						<td>{{ x.accountNum }}</td>
						<td>{{ x.availableBalance }} &nbsp;({{x.currencyCode}})</td>	
						<td>{{x.accountType }}</td>
											
					  </tr>
					</table>
					</div>
			</ion-scroll>			  
            </div>             
        </ion-content>
      </ion-view>
    </script>
			
			
			
			<!--Account Statement ***************************************************************************************************-->
	
	   <script id="accStatement.html" type="text/ng-template">
      <ion-view title="Account Statement">
	   <ion-nav-bar class="bar-positive nav-title-slide-ios7">
      <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
        Back
      </ion-nav-back-button>
    </ion-nav-bar>
        <ion-content has-header="true" padding="true">		
	<div class="list">
		<label class="item item-input item-select" style="padding-left:0" >			
			<div class="row" style="padding-left:0">
			  <div class="col" >Source A/c</div>
			  <div class="col col-60">
			  <select  id="mySelect"  >
					  <option value="">-Select One-</option>
						<option ng-repeat="x in accountListDescription" valu="{{x.sAccountNumber}}">{{x.sAccountNumber}}</option>
						
					</select>
			  </div>
			</div>
			</label>
			
		 
		 <label class="item item-input"style="padding-left:0">	
				<div class="row">
				  <div class="col" style="padding-left:0">From Date :</div>
				  <div class="col col-60"><input type="text"  id="fromDate" placeholder="dd/MM/yyyy" value="01/01/2014" ></div>
				</div>
			</label>
			
				
			<label class="item item-input" style="padding-left:0">	
				<div class="row">
				  <div class="col" style="padding-left:0">To Date :</div>
				  <div class="col col-60"><input type="text"  id="toDate" placeholder="dd/MM/yyyy" value="01/01/2015" ></div>
				</div>
			</label>
			
					
			<label class="item item-input">	
				<div class="row">
				  <div class="col"></div>
				  <div class="col col-60"><button class="button button-block button-positive" ng-click="doClick()" >Search</button></div>
				</div>
			</label>
			
	<div>
		
 <div class="list" style="margin-top:10px">
			
			
			
			
			  <div ng-app="" ng-init="{{accountStatementNodes}}">
           <style>
				table, th , td  {
				  border: 1px solid grey;
				  border-collapse: collapse;
				  padding: 5px;
				}
				table tr:nth-child(odd)	{
				  background-color: #f1f1f1;
				}
				table tr:nth-child(even) {
				  background-color: #ffffff;
				}
				</style>
           
                     
        
			<ion-scroll zooming="true" direction="xy" style="width: 500px; height:500px">
			<div style="width: 5000px; height: 5000px;">			
                  <table>
					<tr>
					  <th>SL.</th>						
					  <th>Trans. Date</th>
					  <th>Debt Amount</th>
					  <th>Credit Amount</th>
					  <th>Balance</th>
					  <th>Naration</th>
					</tr>
					
					  <tr ng-repeat="x in accountStatementNodes">
						<td>{{x.slNo }}</td>
						<td>{{ x.transactionDate }}</td>
						<td>{{x.debtAmount }}</td>
						<td>{{ x.creditAmount }}</td>
						<td>{{x.balance }}</td>
						<td>{{ x.naration }}</td>
					  </tr>
					</table>
					
				</div>
			</ion-scroll>			  
      
            
            
            </div>            
		
			
		</div>
          
        </ion-content>
      </ion-view>
    </script>
	
	
	<!--Fund Transfer *************************************************************************************************************-->
	 <script id="fundTranster.html" type="text/ng-template">
      <ion-view title="Fund Transfer">
	   <ion-nav-bar class="bar-positive nav-title-slide-ios7">
      <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
        Back
      </ion-nav-back-button>
    </ion-nav-bar>
	
        <ion-content has-header="true" padding="true">
          <p>
            Welcome! <strong>{{cusCode}}</strong>
			 
          </p> 
		<div class="list">
		<label class="item item-input item-select" style="padding-left:0"  >			
			<div class="row" style="padding-left:0">
			  <div class="col" >Source A/c</div>
			  <div class="col col-60">
			  <select id = "sourcecAcChangeListener" >
					<option value="">-Select One-</option>
				  <option ng-repeat="x in accountListDescription">{{x.sAccountDescription}}</option>
				</select>
			  </div>
			</div>
			</label>
			
			<label class="item item-input" style="padding-left:0">	
				<div class="row" style="padding-left:0">
				  <div class="col">Account Title</div>
				  <div class="col col-60"><input type="text" id="txtFundTransferAccountTitle" value={{accountTitle}} readonly style="padding-right:0"></div>
				</div>
			</label>
			
			<label class="item item-input" style="padding-left:0">	
				<div class="row" style="padding-left:0">
				  <div class="col">Balance</div>
				  <div class="col col-60"><input type="text" id="txtFundTransferAvailableBalance" value={{availableBalance}}  readonly style="padding-right:0"></div>
				</div>
			</label>
			<label class="item item-input" style="padding-left:0">	
				<div class="row" style="padding-left:0">
				  <div class="col">Currency</div>
				  <div class="col col-60"><input type="text" id="txtFundTransferCurrenyCode" value={{currencyCode}} readonly style="padding-right:0"></div>
				</div>
			</label>
			
			<label class="item item-input" style="padding-left:0">	
				<div class="row" style="padding-right:0">
				  <div class="col">Amount</div>
				  <div class="col col-60"><input type="number" id="txtFundTransferAmount" ></div>
				</div>
			</label>
			
			<label class="item item-input item-select" style="padding-left:0" >			
			<div class="row" style="padding-left:0" >
			  <div class="col" >Destination A/c</div>
			  <div class="col col-60">
			  <select id = "destinationAcChangeListener" >
					<option value="">-Select One-</option>
				  <option ng-repeat="y in destrinationaAccountListNodes">{{y.sDestrinationAccountNo}}</option>
				</select>
			  </div>
			</div>
			</label>
			
			<label class="item item-input" style="padding-left:0">	
				<div class="row" style="padding-left:0">
				  <div class="col">Account Title</div>
				  <div class="col col-60"><input type="text" id="txtFundTransferDestinationAccountTitle" value={{destinationAccountTitle}} readonly style="padding-right:0"></div>
				</div>
			</label>
			
			<label class="item item-input" style="padding-left:0">	
				<div class="row" style="padding-left:0">
				  <div class="col">Currency</div>
				  <div class="col col-60"><input type="text" id="txtFundTransferDestinationCurrencyCode" value={{destinationCurrency}} readonly></div>
				</div>
			</label>
			
			
			<label class="item item-input" style="padding-left:0">	
				<div class="row" style="padding-left:0">
				  <div class="col">Remarks</div>
				  <div class="col col-60"><input type="text" id="txtFundTransferRemarks"></div>
				</div>
			</label>
			
			
			<label class="item item-input" style="padding-left:0">	
				<div class="row" style="padding-left:0">
				  <div class="col">Pin Code</div>
				  <div class="col col-60"><input type="password" id="txtFundTransferPinCode" ></div>
				</div>
			</label>		
			<label class="item item-input" >	
				<div class="row">
				  <div class="col"></div>
				  <div class="col col-60"><button class="button button-block button-positive" ng-click="doSubmit()" >Submit</button></div>
				</div>
			</label>
         </div>
		 
		 	
        </ion-content>
      </ion-view>
    </script>
	
	 
			<!--*********Fund Transfer Request***********************************************************************************-->
					
      <script id="fundTransterRequest.html" type="text/ng-template">
      <ion-view title="Fund Transfer Request">
	   <ion-nav-bar class="bar-positive nav-title-slide-ios7">
      <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
        Back
      </ion-nav-back-button>
    </ion-nav-bar>
        <ion-content has-header="true" padding="true">
       
	<div class="list">
			
		<label class="item item-input">	  
		  <div class="row">
			<div class="col">Request Date:</div>
			<div class="col col-60"> <input type="text" id="txtRequestDate"></div>
			</div>
		</label>
		
		<label class="item item-input item-select"  >			
			<div class="row" >
			  <div class="col" >Source A/c</div>
			  <div class="col col-60">
			  <select id = "sourcecAcChangeListener" >
					<option value="">-Select One-</option>
				  <option ng-repeat="x in accountListDescription">{{x.sAccountDescription}}</option>
				</select>
			  </div>
			</div>
			</label>
			
			<label class="item item-input">	
				<div class="row">
				  <div class="col">Account Title</div>
				  <div class="col col-60"><input type="text" id="txtFundTransferAccountTitle" value={{accountTitle}} readonly></div>
				</div>
			</label>
			
			<label class="item item-input">	
				<div class="row">
				  <div class="col">Balance</div>
				  <div class="col col-60"><input type="text" id="txtFundTransferAvailableBalance" value={{availableBalance}}  readonly></div>
				</div>
			</label>
			<label class="item item-input">	
				<div class="row">
				  <div class="col">Currency</div>
				  <div class="col col-60"><input type="text" id="txtFundTransferCurrenyCode" value={{currencyCode}} readonly></div>
				</div>
			</label>
			
			<label class="item item-input">	
				<div class="row">
				  <div class="col">Amount</div>
				  <div class="col col-60"><input type="number" id="txtFundTransferAmount" ></div>
				</div>
			</label>
			
			<label class="item item-input item-select"  >			
			<div class="row" >
			  <div class="col" >Destination A/c</div>
			  <div class="col col-60">
			  <select id = "destinationAcChangeListener" >
					<option value="">-Select One-</option>
				  <option ng-repeat="y in destrinationaAccountListNodes">{{y.sDestrinationAccountNo}}</option>
				</select>
			  </div>
			</div>
			</label>
			
			<label class="item item-input">	
				<div class="row">
				  <div class="col">Account Title</div>
				  <div class="col col-60"><input type="text" id="txtFundTransferDestinationAccountTitle" value={{destinationAccountTitle}} readonly></div>
				</div>
			</label>
			
			<label class="item item-input">	
				<div class="row">
				  <div class="col">Currency</div>
				  <div class="col col-60"><input type="text" id="txtFundTransferDestinationCurrencyCode" value={{destinationCurrency}} readonly></div>
				</div>
			</label>
			
			
			<label class="item item-input">	
				<div class="row">
				  <div class="col">Remarks</div>
				  <div class="col col-60"><input type="text" id="txtFundTransferRemarks"></div>
				</div>
			</label>
			
			
			<label class="item item-input">	
				<div class="row">
				  <div class="col">Pin Code</div>
				  <div class="col col-60"><input type="password" id="txtFundTransferPinCode" ></div>
				</div>
			</label>		
			<label class="item item-input">	
				<div class="row">
				  <div class="col"></div>
				  <div class="col col-60"><button class="button button-block button-positive" ng-click="doSubmit()" >Submit</button></div>
				</div>
			</label>
         </div>
       
        </ion-content>
      </ion-view>
    </script>
	
	
	
		<!-- Talk Time Recharge *******************************************************************************************************-->		
			
      <script id="talkTimeRecharge.html" type="text/ng-template">
      <ion-view title="Talk Time Recharge">
		 <ion-nav-bar class="bar-positive nav-title-slide-ios7">
      <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
        Back
      </ion-nav-back-button>
    </ion-nav-bar>
        <ion-content has-header="true" padding="true">
        
			<div class="list">
			
			<label class="item item-input item-select" style="padding-left:0" >			
			<div class="row" style="padding-left:0" >
			  <div class="col" >Source A/c</div>
			  <div class="col col-60">
			  <select id = "sourcecAcChangeListener" >
					<option value="">-Select One-</option>
				  <option ng-repeat="x in accountListDescription">{{x.sAccountDescription}}</option>
				</select>
			  </div>
			</div>
			</label>
			
			
			<label class="item item-input" style="padding-left:0">	
				<div class="row" style="padding-left:0">
				  <div class="col">Account Title</div>
				  <div class="col col-60"><input type="text" id="txtFundTransferAccountTitle" value={{accountTitle}} readonly></div>
				</div>
			</label>
			
			<label class="item item-input" style="padding-left:0">	
				<div class="row" style="padding-left:0">
				  <div class="col">Balance</div>
				  <div class="col col-60"><input type="text" id="txtFundTransferAvailableBalance" value={{availableBalance}}  readonly></div>
				</div>
			</label>
			<label class="item item-input" style="padding-left:0">	
				<div class="row" style="padding-left:0">
				  <div class="col">Currency</div>
				  <div class="col col-60"><input type="text" id="txtFundTransferCurrenyCode" value={{currencyCode}} readonly></div>
				</div>
			</label>
				
			 
		<label class="item item-input item-select" style="padding-left:0" >			
			<div class="row" style="padding-left:0">
			  <div class="col" >Operator</div>
			  <div class="col col-60">
			  <select id = "operatorChangeListener" >
					<option value="">-Select One-</option>
				  <option ng-repeat="x in mobileOperatorsNamesAndCodesNodes">{{x.mobileOperatorName}}</option>
				</select>
			  </div>
			</div>
			</label>
			  
			  <label class="item item-input"  style="padding-left:0">	
				<div class="row" style="padding-left:0">
				  <div class="col">Mobile Type</div>
				  <div class="col col-60">
				  <ion-radio  id="mobileTypeRadio" ng-click="radioSubmit('PRE')"  >PrePaid</ion-radio>
				<ion-radio  id="mobileTypeRadio"  ng-click="radioSubmit('PST')" >Post Paid</ion-radio>

				</div>
				</div>
			</label>
			
			  	
			  <label class="item item-input" style="padding-left:0">	
				<div class="row">
				  <div class="col">Mobile No.</div>
				  <div class="col col-60"><input type="number" id="txtMobileNumber"></div>
				</div>
			</label>
			
			 <label class="item item-input" style="padding-left:0">	
				<div class="row">
				  <div class="col">Amount</div>
				  <div class="col col-60"><input type="number" id="txtTalkTimeAmount"></div>
				</div>
			</label>
			 <label class="item item-input" style="padding-left:0">	
				<div class="row">
				  <div class="col">Pin Code</div>
				  <div class="col col-60"><input type="password" id="txtTalktimePinCode"></div>
				</div>
			</label>
			  
			    <label class="item item-input" style="padding-left:0">	
				<div class="row" style="padding-left:0">
				  <div class="col"></div>
				  <div class="col col-60"><button class="button button-block button-positive" ng-click="doSubmit()" >Submit</button></div>
				</div>
			</label>
			   
			  
			
			
          
        </ion-content>
      </ion-view>
    </script>
	
	  
	  
	  	<!--Stop Cheque Leaf *******************************************************************************************************-->		
			
      <script id="stopChequeLeaf.html" type="text/ng-template">
      <ion-view title="Stop Cheque Leaf">
	   <ion-nav-bar class="bar-positive nav-title-slide-ios7">
      <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
        Back
      </ion-nav-back-button>
    </ion-nav-bar>
	
        <ion-content has-header="true" padding="true">
          <p>
            Welcome! <strong>{{cusCode}}</strong>
			 
          </p> 		
			
			
		<label class="item item-input item-select"  style="padding-left:0"  >			
			<div class="row"   style="padding-left:0">
			  <div class="col" >Source A/c</div>
			  <div class="col col-60">
			  <select id = "sourcecAcChangeListener" >
					<option value="">-Select One-</option>
				  <option ng-repeat="x in accountListDescription">{{x.sAccountDescription}}</option>
				</select>
			  </div>
			</div>
			</label>
			
			<label class="item item-input" style="padding-left:0" >	
				<div class="row" style="padding-left:0">
				  <div class="col" style="padding-left:0">Account Title</div>
				  <div class="col" style="padding-right:0" ><input type="text" id="txtFundTransferAvailableBalance" value={{accountTitle}} style="padding-right:0; background-color:#DDDDDD;"></div>
				</div>
			</label>
			
		<label class="item item-input item-select"  style="padding-left:0"  >			
			<div class="row"   style="padding-left:0">
			  <div class="col" >Leaves</div>
			  <div class="col col-60">
			  <select id = "sourcecAcChangeListener" >
					<option value="">-Select One-</option>
				
				</select>
			  </div>
			</div>
			</label>
			
		<label class="item item-input item-select"  style="padding-left:0"  >			
			<div class="row"   style="padding-left:0">
			  <div class="col" >Reason</div>
			  <div class="col col-60">
			  <select id = "sourcecAcChangeListener" >
					<option value="">-Select One-</option>
				
				</select>
			  </div>
			</div>
			</label>
			
			
			    <label class="item item-input">	
				<div class="row">
				  <div class="col"></div>
				  <div class="col col-60"><button class="button button-block button-positive" >Submit</button></div>
				</div>
			</label>
			
					 
        </ion-content>
      </ion-view>
    </script>
	
  </body>
</html>
